body {
  background-color: #ffff;
}

h1 {
  color: rgb(177, 12, 12);
  text-align: center;
  margin-bottom: 3px;
  margin-top: 15px;
}


h2 {
  color: rgb(153, 10, 10);
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 3px;
  margin-top: 10px;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}